<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Inventário de TI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sistema de Inventário - Setor de T.I.</h1>
        <div class="menu">
            <ul>
                <li><a href="/itens">Consultar Itens do Inventário</a></li>
                <li><a href="/categorias">Resumo por Categoria</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
