<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Itens de Inventário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
<div class="container">
    <h1>Lista de Itens Ativos no Setor de T.I.</h1>
    <div class="voltar">
        <a href="/">← Voltar para a Home</a>
    </div>
    <br>
    <table>
        <tr>
            <th>Nº Patrimônio</th>
            <th>Descrição do Item</th>
            <th>Valor Estimado</th>
            <th>Responsável</th>
            <th>Localização Física</th>
            <th>Categoria</th>
            <th>Ações</th> </tr>
        
        {% for item in itens %}
            <tr>
                <td>{{ item.patrimonio }}</td>
                <td>{{ item.nome }}</td>
                <td>R$ {{ "%.2f"|format(item.valor) }}</td>
                <td>{{ item.responsavel_email }}</td>
                <td>{{ item.localizacao }}</td>
                <td>{{ item.categoria.nome }}</td>
                <td>
                    <a href="/editar-item/{{ item.patrimonio }}" style="color: #e67e22; font-weight: bold; text-decoration: none;">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
